{
	"presets": [
		["env", { "modules": false }]
	],
	"plugins": [
		"syntax-dynamic-import",
		["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
	],
	"ignore": [
		"../../**/*.js"
	]
}
